-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
    ]

-
    var documents = {
            dissertations: [
                 {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2016 года по 31 декабря 2016 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2015 года по 31 декабря 2015 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "178КБ"
                },
                {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2014 года по 31 декабря 2014 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "56КБ"
                },
                {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2013 года по 31 декабря 2013 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "44КБ"
                },
            ],
            documents: [
                 {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2014 года по 31 декабря 2014 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2013 года по 31 декабря 2013 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "178КБ"
                }
            ],
            requirements: [
                 {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2016 года по 31 декабря 2016 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2015 года по 31 декабря 2015 года",
                    description: "",
                    url: "",
                    type: "pdf",
                    size: "178КБ"
                }
            ]
        }

            
// Centre
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="dissertation-council.html") Диссертационный совет
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item.active
                        a(href="dissertation-council.html") О Совете
                    li.section-nav__item
                        a(href="dissertation-council_upcoming-defenses.html") Предстоящие защиты
                    li.section-nav__item
                        a(href="dissertation-council_completed-defenses.html") Состоявшиеся защиты       
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li
                                a(href="#section-1") О совете
                            li
                                a(href="#section-2") Члены Диссовета
                            li
                                a(href="#section-3") Порядок защиты диссертации
                            li
                                a(href="#section-4") Подача документов
                            li
                                a(href="#section-5") Требования к соискателям
            // Section Menu
            div.section-list#section-list
                // Диссертационный совет
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Диссертационный совет
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        // О центре
                                        h3#section-1 О совете
                                        p Согласно пункту 2 части 5 статьи 47 Федерального закона от 29 декабря 2012 г. № 273-ФЗ «Об образовании в Российской Федерации» (далее – Федеральный закон «Об образовании») педагогические работники имеют право на дополнительное профессиональное образование по профилю педагогической деятельности не реже чем один раз в три года.
                                        br
                                        p Более того, педагогические работники обязаны осуществлять свою деятельность на высоком профессиональном уровне, систематически его повышая (ст. 48 Федерального закон «Об образовании»).
                                        br
                                        p Потребность в повышении квалификации научно-педагогических кадров юридических специальностей в области частного права для решения задач кадрового обеспечения преподавательского состава кафедр гражданского и смежных отраслей права федеральных вузов, осуществляющих подготовку бакалавров, специалистов и магистров по направлениям и специальностям в области юриспруденции, в настоящее время весьма высока. С 30 декабря 2012 года в рамках модернизации гражданского законодательства в Гражданский кодекс Российской Федерации вносились многочисленные изменения, которые подчас носили концептуальный характер. Это происходило в результате рассмотрения Государственной Думой РФ проекта федерального закона № 47538-6, разработанного Советом при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства на основании Концепции развития гражданского законодательства, а также в результате принятия ряда иных законопроектов, разрабатываемых с участием Совета.
                                        br
                                        p <b>Цель Программы</b> – повышение квалификации преподавателей частного права через расширение их профессионального кругозора и обогащение методологического арсенала.
                                        br
                                        p <b>Задачи Программы</b> соответствуют ее целям и заключаются, прежде всего, в том, чтобы познакомить слушателей с теми подходами, методами, приемами, которые сотрудники Центра и Школы использует в своей научной и педагогической деятельности, показать им, чем может быть пополнен традиционный корпус источников и литературы, на какие новые явления в частном праве стоит обратить внимание.
                                        hr
                                        // Совет Центра
                                        h3#section-2 Члены Диссовета
                                        div.section
                                            div.section-body
                                                div.persons.sm
                                                    div.persons-container
                                                        each person in persons
                                                            div.persons__item
                                                                a(href=person.url class="persons__item-container")
                                                                    span.persons__item-image
                                                                        img(src=`images/${person.image}`)
                                                                    div.persons__item-content
                                                                        h3.persons__item-name=person.name
                                                                        p.persons__item-description=person.description
                                                                        each tag in person.tags
                                                                            span.persons__item-tag=tag
                                        // Порядок защиты диссертации
                                        h3#section-3 Порядок защиты диссертации
                                        p Описание Потребность в повышении квалификации научно-педагогических кадров юридических специальностей в области частного права для решения задач кадрового обеспечения преподавательского состава кафедр гражданского и смежных отраслей права федеральных.
                                        br
                                        div.section
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents.dissertations
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download
                                        // Подача документов в диссертационный совет
                                        h3#section-4 Подача документов в диссертационный совет
                                        div.section
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents.documents
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download
                                        // Требования к соискателям
                                        h3#section-5 Требования к соискателям
                                        div.section
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents.requirements
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download