-
    var dissertations = [
        {
            author: "Астахов Валерий Иванович",
            title: "Вопросы применения норм гражданского законодательства. Относительно недействительные сделки в российском гражданском праве",
            description: "По данным Государственной информационной системы жилищно-коммунального хозяйства по состоянию на 28 августа 2021г. в Российской Федерации из 71 838 организаций, осуществляющих управление многоквартирными домами, зарегистрировано 38 596 товариществ собственников жилья, 22 904 управляющие компании и 10 466 жилищных и жилищно-строительных кооперативов; в Республике Татарстан из 1 468 организаций, осуществляющих управление многоквартирными домами, зарегистрировано 844 товарищества собственников жилья, 360 управляющих компаний и 247 жилищно-строительных кооперативов5. Из представленных статистических данных явствует, что количество товариществ собственников жилья в Российской Федерации составляет 53,73%, в Республике Татарстан -57,5% от общего числа организаций, оказывающих услуги по управлению многоквартирными домами.",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        },
        {
            author: "Бугорский Владимир Павлович",
            title: "Перспективы применения формулярного права в строительном подряде",
            description: "Деятельность товариществ собственников жилья достаточно детально рассмотрена действующим законодательством. В настоящее время основы правового регулирования деятельности товарищества собственников жилья созданы Жилищным кодексом РФ6, который определяет правовое положение товарищества собственников жилья и его органов управления, их компетенцию, а также обеспечивает защиту прав и интересов не только",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        },
        {
            author: "Денисов Сергей Анатольевич",
            title: "Момент заключения договора по гражданскому праву Российской Федерации [ с 1999 года — кандидат юридических наук ]",
            description: "Концепция развития гражданского законодательства Российской Федерации, одобрена решением Совета при Президенте РФ по кодификации и совершенствованию гражданского законодательства Федерации от 07.10.2009г. // Вестник ВАС. №11. ноябрь. 2009.",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        },
        {
            author: "Дятлов Владислав Валерьевич",
            title: "Юрисдикция органов государственной власти в процессе реализации закона",
            description: "Гражданский кодекс Российской Федерации (часть первая): [федер. закон от 30 ноября 1994г. №51-ФЗ (ред. от 28.06.2021г.)] // Собрание законодательства РФ. 05.12.1994. №32. Ст. 3301.",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        },
        {
            author: "Астахов Валерий Иванович",
            title: "Вопросы применения норм гражданского законодательства. Относительно недействительные сделки в российском гражданском праве",
            description: "Реестры поставщиков информации [Электронный ресурс] // Официальный сайт Государственной информационной системы жилищно-коммунального хозяйства. - Режим доступа: https://dom.gosuslugi.ru (дата обращения: 28.08.2021).",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        },
        {
            author: "Бугорский Владимир Павлович",
            title: "Перспективы применения формулярного права в строительном подряде",
            description: "И в теории, и на практике возникает большое количество проблем, связанных с деятельностью товариществ собственников жилья, в том числе в части принятия решений общим собранием членов товарищества и их исполнения. Указанные обстоятельства определяют необходимость постоянного внесения изменений в нормативные акты, регламентирующие деятельность ТСЖ в части принятия общим собранием членов товарищества соответствующих решений. В связи с чем прослеживается некоторая нестабильность в регламентации деятельности товариществ собственников жилья, в том числе в части принятия общим собранием членов товарищества соответствующих решений. Так, только за 2016-2020гг. в гражданское и жилищное законодательство было внесено более 20 изменений.",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        },
        {
            author: "Денисов Сергей Анатольевич",
            title: "Момент заключения договора по гражданскому праву Российской Федерации [ с 1999 года — кандидат юридических наук ]",
            description: "О применении судами некоторых положений раздела I части первой Гражданского кодекса Российской Федерации: [Постановление Пленума Верховного Суда РФ от 23 июня 2015г. №25] // Бюллетень Верховного Суда РФ. №8. 2015.",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        },
        {
            author: "Дятлов Владислав Валерьевич",
            title: "Юрисдикция органов государственной власти в процессе реализации закона",
            description: "Анализ сложившейся судебной практики свидетельствует о неоднородности вынесенных судебных актов, которая обусловлена рядом обстоятельств. Несовершенство законодательства в регулировании вопросов принятия общим собранием решений, существующие юридические противоречия российского законодательства, наличие оценочных понятий -все это влечет за собой определенные трудности при реализации отдельных норм права, что существенным образом сказывается на эффективности правового регулирования отношений, возникающих в связи с принятием общим собранием решений и их дальнейшей реализацией. Участники гражданско-правового сообщества (члены товарищества собственников жилья), суды обязаны принимать во внимание специфичность указанных правоотношений, их социальную ориентированность. Так, по данным Судебного департамента при Верховном Суде Российской Федерации9 в 2013 году судами общей юрисдикции было рассмотрено 4 779 дел по искам членов ТСЖ о признании недействительными решений собраний; в 2014 - 4 678; в 2015 - 4 405 (-5,8%), в 2016 - 4 464 (+1,3%), в 2017 - 4 649 дел (+4,1%), в 2018 - 4 597 (-1,1%), в 2019 - 4 852 дела (+5,5%), в 2020 - 4 391 дело (-9,5%). Статистические данные показывают, что удельный вес удовлетворенных исков в 2020 году по сравнению с 2013 годом снизился. Так, если в 2013 году число удовлетворенных исков составило 2 663 единиц (55,7% от общего",
            date: "02.12.2021",
            documents: [
                {
                    name: "Диссертация",
                    type: "pdf",
                    size: "12КБ"
                },
                {
                    name: "Автореферат",
                    type: "pdf",
                    size: "36КБ"
                },
                {
                    name: "Отзыв научного руководителся",
                    type: "doc",
                    size: "117КБ"
                }
            ]
        }
    ]

section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="dissertation-council.html") Диссертационный совет
                li.nav-line__item
                    a(href="dissertation-council_completed-defenses.html") Состоявшиеся защиты 
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="dissertation-council.html") О Совете
                    li.section-nav__item
                        a(href="dissertation-council_upcoming-defenses.html") Предстоящие защиты
                    li.section-nav__item.active
                        a(href="dissertation-council_completed-defenses.html") Состоявшиеся защиты
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Состоявшиеся защиты диссертаций
        // Filter Search
        div.filter-wrapper
            div.filter-search#filter-search
                div.filter-search-container
                    input(id="filter-search-input" name="search" placeholder="Поиск..." type="text" data-list=".dissertations-container" data-toggle="hideseek")
                    button.filter-search-button
                        span.filter-search-button-icon#anim-icon-filter-search
        // Filter Search     
        // Section Header
        div.section-body
            div.dissertations
                div.dissertations-container
                    // Items
                    each dissertation in dissertations
                        div.dissertations__item
                            div.dissertations__item-container
                                div.dissertations__item-content
                                    h3.dissertations__item-author=dissertation.author
                                    h5.dissertations__item-title=dissertation.title
                                    a.dissertations__item-link(href="videos-detail.html" target="_blank")
                                        span.dissertations__item-link-icon
                                        p Видеозапись защиты
                                    p.dissertations__item-description=dissertation.description
                                    span.dissertations__item-date Дата защиты: 
                                        b=dissertation.date
                                div.dissertations__item-footer
                                    div.dissertations__item-footer-container
                                        div.documents
                                            div.documents-container
                                                // Items
                                                each document in dissertation.documents
                                                    div.documents__item
                                                        a.documents__item-container(href="/")
                                                            div.documents__item-icon
                                                                img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                            div.documents__item-content
                                                                div.documents__item-content-group
                                                                    h3.documents__item-title=document.name
                                                                    span.documents__item-size=document.size
                                                                span.documents__item-helper-icon.icon-download