-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
    ]

-
    var documents = [
        {
            name: "Копия Устава",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Копия распоряжения",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Копия Лицензии на образовательную деятельность",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Копия Свидетельства государственной аккредитации",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Копия Свидетельства ФНС",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        },
        {
            name: "Положение о научных исследованиях",
            description: "",
            url: "",
            type: "pdf",
            size: "211КБ"
        },
        {
            name: "Копия Свидетельство о профессионально-общественной аккредитации МАГИСТРАТУРА",
            description: "",
            url: "",
            type: "pdf",
            size: "117КБ"
        },
        {
            name: "Копии СВИДЕТЕЛЬСТВ к товарным знакам",
            description: "",
            url: "",
            type: "pdf",
            size: "144КБ"
        },
    ]

            
// Centre
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_about-center.html") О Центре
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item.active
                        a(href="center_about-center.html") О центре
                    li.section-nav__item
                        a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
                    li.section-nav__item
                        a(href="center_scientific-departments.html") Научные отделы
                    li.section-nav__item
                        a(href="center_editions.html") Издания
                    li.section-nav__item
                        a(href="center_ural-branch.html") Уральский филиал
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li
                                a(href="#section-1") О Центре
                            li
                                a(href="#section-2") Председатель совета
                            li
                                a(href="#section-3") Совет Центра
                            li
                                a(href="#section-4") Научный руководитель
                            li
                                a(href="#section-5") Попечительский совет
                            li
                                a(href="#section-6") Документы Центра
            // Section Menu

            div.section-list#section-list
                // О центре
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Исследовательский Центр
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        // О центре
                                        h3#section-1 О центре
                                        p Федеральное государственное бюджетное научное учреждение «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее – Центр) создано распоряжением Президента РСФСР Б.Н. Ельцина от 27 декабря 1991 года. ( Устав Центра ). Имя Сергея Сергеевича Алексеева отражено в наименовании Центра в соответствии с Указом Президента Российской Федерации от 30.09.2013 № 748 «Об увековечивании памяти С.С. Алексеева» в знак признания его выдающегося вклада в развитие отечественной науки и его роли в создании Центра.
                                        br
                                        p С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.
                                        hr
                                        // Председатель совета
                                        h3#section-2 Председатель совета
                                        div.section
                                            div.section-body
                                                div.person-card
                                                    a(href="persons-detail.html" class="person-card-container")
                                                        div.person-card__section-image
                                                            span.person-card-image
                                                                img(src="images/persons/persons_miheeva_sm-1.png")
                                                        div.person-card__section-content
                                                            div.person-card__section-content-header
                                                                h3.person-card__item-name Михеева Лидия Юрьевна
                                                                p.person-card__item-description Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор
                                                                span.person-card__item-tag Исследовательский центр
                                                            div.person-card__section-content-body
                                                                div.article
                                                                    div.article-content
                                                                        p В соответствии с Уставом Исследовательский центр возглавляет председатель совета, который является единоличным исполнительным органом Исследовательского центра.
                                                                        br 
                                                                        p Председателем совета Центра является доктор юридических наук, профессор, заслуженный юрист Российской Федерации Михеева Лидия Юрьевна. Михеева Л.Ю. была избрана председателем совета на заседании совета Центра, состоявшемся 24 июля 2019 года, и утверждена в должности распоряжением Правительства Российской Федерации от 31 августа 2019 года № 1936-Р.
                                                div.section-footer.align-right
                                                    div.section-button
                                                        a(href="persons-detail.html") Читать полностью
                                        // Совет Центра
                                        h3#section-3 Совет Центра
                                        div.section
                                            div.section-body
                                                div.persons.sm
                                                    div.persons-container
                                                        each person in persons
                                                            div.persons__item
                                                                a(href=person.url class="persons__item-container")
                                                                    span.persons__item-image
                                                                        img(src=`images/${person.image}`)
                                                                    div.persons__item-content
                                                                        h3.persons__item-name=person.name
                                                                        p.persons__item-description=person.description
                                                                        each tag in person.tags
                                                                            span.persons__item-tag=tag                            
                                        // Научный руководитель
                                        h3#section-4 Научный руководитель
                                        div.section
                                            div.section-body
                                                div.person-card
                                                    a(href="persons-detail.html" class="person-card-container")
                                                        div.person-card__section-image
                                                            span.person-card-image
                                                                img(src="images/persons/persons_suhanov_sm-1.png")
                                                        div.person-card__section-content
                                                            div.person-card__section-content-header
                                                                h3.person-card__item-name Суханов Евгений Алексеевич
                                                                p.person-card__item-description Научный руководитель Исследовательского центра, д.ю.н., профессор
                                                                span.person-card__item-tag Исследовательский центр
                                                            div.person-card__section-content-body
                                                                div.article
                                                                    div.article-content
                                                                        p В соответствии с пунктом 23 Устава Исследовательского центра частного права  научный руководитель осуществляет координацию научной деятельности Исследовательского центра.
                                                                        br 
                                                                        p Научный руководитель избирается открытым голосованием на заседании совета на 5 лет из числа ведущих российских ученых, пользующихся авторитетом в мировом научном сообществе, внесших существенный вклад в развитие юридической науки.
                                                div.section-footer.align-right
                                                    div.section-button
                                                        a(href="persons-detail.html") Читать полностью
                                        // Попечительский совет
                                        h3#section-5 Попечительский совет
                                        div.section
                                            div.section-body
                                                div.persons.sm
                                                    div.persons-container
                                                        each person in persons
                                                            div.persons__item
                                                                a(href=person.url class="persons__item-container")
                                                                    span.persons__item-image
                                                                        img(src=`images/${person.image}`)
                                                                    div.persons__item-content
                                                                        h3.persons__item-name=person.name
                                                                        p.persons__item-description=person.description
                                                                        each tag in person.tags
                                                                            span.persons__item-tag=tag
                                        // Документы Центра
                                        h3#section-6 Документы Центра
                                        div.section
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download