-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Диссертационный совет"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Тололаева Наталья Владимировна",
            description: "Старший научный сотрудник отдела договорного права Исследовательского центра, доцент кафедры обязательственного права, к.ю.н.",
            image: "persons/persons_tololaeva-scaled_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        }
    ]

-
    var documents = [
        {
            name: "Положение о Комиссии по противодействию коррупции и урегулированию конфликтов интересов в федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права при Президенте Российской Федерации",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Положение о Комиссии по противодействию коррупции и урегулированию конфликтов интересов в федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права при Президенте Российской Федерации",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        }
    ]

section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
                li.nav-line__item
                    a(href="center_countering-terrorism-and-corruption_anti-corruption-and-interest-settlement-commission.html") Об организации работы по противодействию коррупции
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_about-center.html") О центре
                    li.section-nav__item
                        a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
                    li.section-nav__item
                        a(href="center_scientific-departments.html") Научные отделы
                    li.section-nav__item
                        a(href="center_editions.html") Издания
                    li.section-nav__item
                        a(href="center_ural-branch.html") Уральский филиал
                    li.section-nav__item.active
                        a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
            div.section-nav--secondary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption.html") Об организации работы в Исследовательском центре...
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_income-details.html") Сведения о доходах
                    li.section-nav__item.active
                        a(href="center_countering-terrorism-and-corruption_anti-corruption-and-interest-settlement-commission.html") Комиссия по противодействию коррупции и урегулированию интересов
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_feedback.html") Обратная связь
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_library-of-normative-legal-and-other-acts.html") Библиотека нормативных, правовых и иных актов
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Комиссия по противодействию коррупции и урегулированию интересов
        // Section Header
        div.section
            div.section-body
                div.section-body-container
                    div.article
                        div.article-section-list
                            div.article-section
                                div.article-section-body
                                    div.article-content
                                        p Текст-описание о Комиссии. Кроме того, активную, а скорее даже креативную роль Центр сыграл в исключительно важном деле сближения, гармонизации и унификации частного права, государств, образовавшихся на пространстве бывшего СССР. В 1994-1995 годах была подготовлена Модель Гражданского кодекса для стран СНГ.
                                        br
                                        p На основе этой модели ГК, с небольшим числом отступлений от нее, были приняты гражданские кодексы в восьми государствах – участниках СНГ: Армении, Белоруссии, Казахстане, Кыргызстане, России, Таджикистане, Туркменистане и Узбекистане. Позднее эта модель была во многом использована при создании ГК Украины.
                                        hr
                                        // Persons
                                        h3#section Состав комиссии
                                        div.article-section
                                            //- div.article-section-header
                                            //-     h3.article-section-header-title Состав комиссии
                                            div.article-section-body
                                                div.persons
                                                    div.persons-container
                                                        // Items
                                                        each person in persons
                                                            div.persons__item
                                                                a(href=person.url class="persons__item-container")
                                                                    span.persons__item-image
                                                                        img(src=`images/${person.image}`)
                                                                    div.persons__item-content
                                                                        h3.persons__item-name=person.name
                                                                        p.persons__item-description=person.description
                                                                        each tag in person.tags
                                                                            span.persons__item-tag=tag
                                        hr
                                        // Documents
                                        h3#section Документы
                                        div.article-section
                                            //- div.article-section-header
                                            //-     h3.article-section-header-title Документы
                                            div.article-section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents
                                                            div.documents__item
                                                                a.documents__item-container(href="/")
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            span.documents__item-size=document.size
                                                                        span.documents__item-helper-icon.icon-download