-
    var feedbacks = [
        {
            author: "Сергей Солдатенко",
            image: "feedbacks/feedback_01.png",
            position: "Магистр РШЧП, к.ф-м.н.",
            date: "Год выпуска – 2018",
            content: "В июне 2018 года закончилось обучение в РАНХиГС при Президенте РФ. С теплотой на душе вспоминаю эти дни… Обеды в ТЦ «Звездочка», легкий страх перед экзаменами, красные ковры при входе. 2013 год стал для меня особенным. Именно в этом году мной было принято решение посвятить жизнь юриспруденции и обучаться на Юридическом факультете им. М.М. Сперанского. Обучение в ИПНБ открыло возможности реализоваться не только в научной деятельности (конференции, возможность публикации научных статей с мэтрами различных отраслей права), но и общественной (КВН, СтудСовет и т.д.)"
        },
        {
            author: "Константин Савин",
            image: "feedbacks/feedback_02.png",
            position: "Партнер АК «Павлова и партнеры»",
            date: "Год выпуска – 2011",
            content: "Время учебы в Российской школе частного права вспоминаю с большой ностальгией. Это было незабываемо, особая атмосфера во всем. Можно сказать, что по-настоящему мое юридическое образование в сфере частного права началось с момента, как я был зачислен в магистранты и перешагнул порог этого уважаемого учебного заведения. Знания, которые мы здесь получили, фундаментальны, они закладывают крепкий базис для дальнейшего профессионального развития. Учеба здесь мотивирует к совершенствованию. В частности, к изучению иностранного языка (в том числе, второго), т.к. в современном мире без использования иностранного языка не представляется возможным углублять свои профессиональные знания. Слава РШЧП безусловно связана с уникальным профессорско-преподавательским составом. Для абитуриентов – даже не сомневайтесь ни минуты, поступать сюда или не нет, если хотите стать хорошими юристами, Вам нравится заниматься исследовательской деятельностью и соединять ее с практикой, Вам прямая дорога в РШЧП и ИЦЧП"
        },
        {
            author: "Сергей Солдатенко",
            image: "feedbacks/feedback_01.png",
            position: "Магистр РШЧП, к.ф-м.н.",
            date: "Год выпуска – 2018",
            content: "В июне 2018 года закончилось обучение в РАНХиГС при Президенте РФ. С теплотой на душе вспоминаю эти дни… Обеды в ТЦ «Звездочка», легкий страх перед экзаменами, красные ковры при входе. 2013 год стал для меня особенным. Именно в этом году мной было принято решение посвятить жизнь юриспруденции и обучаться на Юридическом факультете им. М.М. Сперанского. Обучение в ИПНБ открыло возможности реализоваться не только в научной деятельности (конференции, возможность публикации научных статей с мэтрами различных отраслей права), но и общественной (КВН, СтудСовет и т.д.)"
        },
        {
            author: "Константин Савин",
            image: "feedbacks/feedback_02.png",
            position: "Партнер АК «Павлова и партнеры»",
            date: "Год выпуска – 2011",
            content: "Время учебы в Российской школе частного права вспоминаю с большой ностальгией. Это было незабываемо, особая атмосфера во всем. Можно сказать, что по-настоящему мое юридическое образование в сфере частного права началось с момента, как я был зачислен в магистранты и перешагнул порог этого уважаемого учебного заведения. Знания, которые мы здесь получили, фундаментальны, они закладывают крепкий базис для дальнейшего профессионального развития. Учеба здесь мотивирует к совершенствованию. В частности, к изучению иностранного языка (в том числе, второго), т.к. в современном мире без использования иностранного языка не представляется возможным углублять свои профессиональные знания. Слава РШЧП безусловно связана с уникальным профессорско-преподавательским составом. Для абитуриентов – даже не сомневайтесь ни минуты, поступать сюда или не нет, если хотите стать хорошими юристами, Вам нравится заниматься исследовательской деятельностью и соединять ее с практикой, Вам прямая дорога в РШЧП и ИЦЧП"
        }
    ] 

section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="rshchp.html") РШЧП
                li.nav-line__item
                    a(href="rshchp_training.html") Повышение квалификации
                li.nav-line__item
                    a(href="rshchp_training_professional-development-of-teachers-of-departments.html") Повышение квалификации специалистов в сфере юриспруденции
                li.nav-line__item
                    a(href="rshchp_training_feedbacks.html") Отзывы
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="rshchp.html") Об РШЧП
                    li.section-nav__item
                        a(href="rshchp_masters-degree.html") Магистратура
                    li.section-nav__item.active
                        a(href="rshchp_training.html") Повышение квалификации
                    li.section-nav__item
                        a(href="rshchp_cathedras.html") Кафедры
                    li.section-nav__item
                        a(href="rshchp_graduates.html") Выпускники
                    li.section-nav__item
                        a(href="rshchp_graduate-school.html") Аспирантура
                    li.section-nav__item
                        a(href="rshchp_internships-and-practice.html") Стажировки и практика
                    li.section-nav__item
                        a(href="rshchp_information-about-the-educational-organization.html") Сведения об образовательной организации
        // Section Header
        div.section-header
            h5.section-title Отзывы
        // Section Header
        div.feedbacks
            div.feedbacks-container
                // Items
                each feedback in feedbacks
                    div.feedbacks__item
                        div.feedbacks__item-container
                            span.feedbacks__item-image
                                img(src=`images/${feedback.image}` alt="")
                            div.feedbacks__item-content
                                p.feedbacks__item-name=feedback.author
                                div.feedbacks__item-group
                                    p.feedbacks__item-position=feedback.position
                                    p.feedbacks__item-date=feedback.date
                                div.feedbacks__item-content
                                    p=feedback.content
        // Items
        div.section-footer
            include ../../components/pagination/pagination.pug
// News