-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
    ]

-
    var documents = [
        {
            name: "Формы заявлений для поступления",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Порядок подачи документов в электронной форме",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Программа вступительных испытаний 2022",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Положение о приемной комиссии",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Положение об экзаменационной комиссии",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        },
        {
            name: "Положение об апелляционной комиссии",
            description: "",
            url: "",
            type: "pdf",
            size: "211КБ"
        },
        {
            name: "Положение о предоставление снижения стоимости",
            description: "",
            url: "",
            type: "pdf",
            size: "117КБ"
        },
        {
            name: "Образец договора об оказании платных образовательных услуг",
            description: "",
            url: "",
            type: "pdf",
            size: "144КБ"
        },
    ]

section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="rshchp.html") РШЧП
                li.nav-line__item
                    a(href="rshchp_masters-degree.html") Магистратура
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="rshchp.html") Об РШЧП
                    li.section-nav__item.active
                        a(href="rshchp_masters-degree.html") Магистратура
                    li.section-nav__item
                        a(href="rshchp_training.html") Повышение квалификации
                    li.section-nav__item
                        a(href="rshchp_cathedras.html") Кафедры
                    li.section-nav__item
                        a(href="rshchp_graduates.html") Выпускники
                    li.section-nav__item
                        a(href="rshchp_graduate-school.html") Аспирантура
                    li.section-nav__item
                        a(href="rshchp_internships-and-practice.html") Стажировки и практика
                    li.section-nav__item
                        a(href="rshchp_information-about-the-educational-organization.html") Сведения об образовательной организации
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li.active
                                a(href="#section-1") О программе
                            li
                                a(href="#section-2") Дисциплины
                            li
                                a(href="#section-3") Преподаватели
                            li
                                a(href="#section-4") Документы для поступления
                            li
                                a(href="#section-5") Приемная кампания 2021
                            li
                                a(href="#section-6") Стипендии и материальная поддержка
                            li
                                a(href="#section-7") Для иностранных граждан
                            //- li
                            //-     a(href="#section-8") Партнеры
            // Section Menu

            div.section-list
                // О программе
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Магистратура
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        h3#section-1 О программе
                                        p Количество мест для приема на обучение по магистерской программе  «Магистр частного права» по различным условиям поступления составляет в 2022 году:
                                        br
                                        ul
                                            li для приема в рамках контрольных цифр на обучение за счет бюджетных ассигнований (общие условия) – 40 мест;
                                            li для приема по договорам об оказании платных образовательных услуг – 20 мест
                                        br
                                        p Исследовательский центр осуществляет обучение в соответствии с федеральным государственным образовательным стандартом высшего образования — магистратура по направлению подготовки 40.04.01 Юриспруденция
                                            a(href="") (приказ Минобрнауки России от 25.11.2020 № 1451).
                                        p Наименование магистерской программы — «Магистр частного права».
                                        br
                                        p Форма обучения – 
                                            b очная.
                                        br
                                        p Нормативный срок обучения – 
                                            b 2 года.
                                        br
                                        p Обучение осуществляется на 
                                            b русском языке.
                                        br
                                        p Количество мест для приема на обучение по магистерской программе <b>«Магистр частного права»</b> по различным условиям поступления составляет в 2022 году:
                                        hr
                                        h3#section-2 Дисциплины
                                        p В федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее – Исследовательский центр, ИЦЧП) в соответствии с Правилами приема в 2022 году предусмотрен прием заявлений о допуске к участию в конкурсе для поступления на очную форму обучения по направлению подготовки 40.04.01 Юриспруденция (магистерская программа «Магистр частного права») (далее – заявление) с приложением необходимых документов в соответствии с Правилами приема в электронной форме по E-mail: 
                                            a(href="mailto:nazmova@privlaw.ru") nazmova@privlaw.ru (г. Москва),
                                            a(href="mailto:uril@privlaw.ru") uril@privlaw.ru (г. Екатеринбург).
                                        br
                                        p Прием заявлений осуществляется с 20 июня по 25 июля 2022 года (до 18.00 по местному времени).
                                        br
                                        p Поступающий заполняет заявление, согласие на обработку персональных данных, согласие на зачисление (с указанием: бюджетные места/места с оплатой стоимости по договору), размещенные на сайте Исследовательского центра.
                                        br
                                        p Заявления, подписанные лично с указанием даты заполнения, а также требуемые документы необходимо отсканировать и прикрепить к электронному письму с указанием темы: поступление/заявление на поступление. Допустимые форматы файлов: jpg, jpeg, pdf. Одновременно с документами направляется реферат в формате Word, pdf. В электронном письме указывается перечень направляемых документов.
                                        br
                                        p Отсканированные копии документов должны быть четкими и с хорошо читаемыми печатями. Заверения указанных копий документов не требуется.
                                        br
                                        p Письма без прикрепленных файлов, в том числе реферата, а также при несоответствии перечня прикрепленных файлов требованиям Правил приема, не рассматриваются, информационное письмо о принятии документов абитуриенту не отправляется.
                                        br
                                        p Документы считаются принятыми к рассмотрению после получения абитуриентом подтверждения на электронный адрес поступающего.
                                        div.article-section-inner
                                            div.documents
                                                div.documents-container
                                                    // Items
                                                    div.documents__item
                                                        a.documents__item-container(href="/")
                                                            div.documents__item-icon
                                                                img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                            div.documents__item-content
                                                                div.documents__item-content-group
                                                                    h3.documents__item-title Учебный план по программе магистратуры
                                                                    span.documents__item-size PDF 2 МБ
                                                                span.documents__item-helper-icon.icon-download
                                                    div.documents__item
                                                        a.documents__item-container(href="/")
                                                            div.documents__item-icon
                                                                img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                            div.documents__item-content
                                                                div.documents__item-content-group
                                                                    h3.documents__item-title Положение о научных исследованиях
                                                                    span.documents__item-size PDF 14 КБ
                                                                span.documents__item-helper-icon.icon-download
                                        hr
                                        // Преподаватели
                                        h3#section-4 Преподаватели
                                        div.section
                                            div.section-body
                                                div.persons.sm
                                                    div.persons-container
                                                        each person in persons
                                                            div.persons__item
                                                                a(href=person.url class="persons__item-container")
                                                                    span.persons__item-image
                                                                        img(src=`images/${person.image}`)
                                                                    div.persons__item-content
                                                                        h3.persons__item-name=person.name
                                                                        p.persons__item-description=person.description
                                                                        each tag in person.tags
                                                                            span.persons__item-tag=tag
                                        // Документы для поступления
                                        h3#section-4 Документы для поступления
                                        div.section
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download
                                        // Приемная кампания 2021
                                        h3#section-5 Приемная кампания 2021
                                        p В федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее – Исследовательский центр, ИЦЧП) в соответствии с Правилами приема в 2022 году предусмотрен прием заявлений о допуске к участию в конкурсе для поступления на очную форму обучения по направлению подготовки 40.04.01 Юриспруденция (магистерская программа «Магистр частного права») (далее – заявление) с приложением необходимых документов в соответствии с Правилами приема в электронной форме по E-mail: nazmova@privlaw.ru (г. Москва), uril@privlaw.ru (г. Екатеринбург).
                                        br
                                        p Прием заявлений осуществляется с 20 июня по 25 июля 2022 года (до 18.00 по местному времени).
                                        br
                                        p Поступающий заполняет заявление, согласие на обработку персональных данных, согласие на зачисление (с указанием: бюджетные места/места с оплатой стоимости по договору), размещенные на сайте Исследовательского центра.
                                        br 
                                        p Заявления, подписанные лично с указанием даты заполнения, а также требуемые документы необходимо отсканировать и прикрепить к электронному письму с указанием темы: поступление/заявление на поступление. Допустимые форматы файлов: jpg, jpeg, pdf. Одновременно с документами направляется реферат в формате Word, pdf. В электронном письме указывается перечень направляемых документов.
                                        br
                                        p Отсканированные копии документов должны быть четкими и с хорошо читаемыми печатями. Заверения указанных копий документов не требуется.
                                        br 
                                        p Письма без прикрепленных файлов, в том числе реферата, а также при несоответствии перечня прикрепленных файлов требованиям Правил приема, не рассматриваются, информационное письмо о принятии документов абитуриенту не отправляется.
                                        br
                                        p Документы считаются принятыми к рассмотрению после получения абитуриентом подтверждения на электронный адрес поступающего.
                                        hr
                                        // Приемная кампания 2021
                                        h3#section-6 Стипендии и материальная поддержка
                                        p В федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее – Исследовательский центр, ИЦЧП) в соответствии с Правилами приема в 2022 году предусмотрен прием заявлений о допуске к участию в конкурсе для поступления на очную форму обучения по направлению подготовки 40.04.01 Юриспруденция (магистерская программа «Магистр частного права») (далее – заявление) с приложением необходимых документов в соответствии с Правилами приема в электронной форме по E-mail: nazmova@privlaw.ru (г. Москва), uril@privlaw.ru (г. Екатеринбург).
                                        br
                                        p Прием заявлений осуществляется с 20 июня по 25 июля 2022 года (до 18.00 по местному времени).
                                        br
                                        p Поступающий заполняет заявление, согласие на обработку персональных данных, согласие на зачисление (с указанием: бюджетные места/места с оплатой стоимости по договору), размещенные на сайте Исследовательского центра.
                                        br 
                                        p Заявления, подписанные лично с указанием даты заполнения, а также требуемые документы необходимо отсканировать и прикрепить к электронному письму с указанием темы: поступление/заявление на поступление. Допустимые форматы файлов: jpg, jpeg, pdf. Одновременно с документами направляется реферат в формате Word, pdf. В электронном письме указывается перечень направляемых документов.
                                        br
                                        p Отсканированные копии документов должны быть четкими и с хорошо читаемыми печатями. Заверения указанных копий документов не требуется.
                                        br 
                                        p Письма без прикрепленных файлов, в том числе реферата, а также при несоответствии перечня прикрепленных файлов требованиям Правил приема, не рассматриваются, информационное письмо о принятии документов абитуриенту не отправляется.
                                        br
                                        p Документы считаются принятыми к рассмотрению после получения абитуриентом подтверждения на электронный адрес поступающего.
                                        hr
                                        // Для иностранных граждан
                                        h3#section-7 Для иностранных граждан
                                        p В федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее – Исследовательский центр, ИЦЧП) в соответствии с Правилами приема в 2022 году предусмотрен прием заявлений о допуске к участию в конкурсе для поступления на очную форму обучения по направлению подготовки 40.04.01 Юриспруденция (магистерская программа «Магистр частного права») (далее – заявление) с приложением необходимых документов в соответствии с Правилами приема в электронной форме по E-mail: nazmova@privlaw.ru (г. Москва), uril@privlaw.ru (г. Екатеринбург).
                                        br
                                        p Прием заявлений осуществляется с 20 июня по 25 июля 2022 года (до 18.00 по местному времени).
                                        br
                                        p Поступающий заполняет заявление, согласие на обработку персональных данных, согласие на зачисление (с указанием: бюджетные места/места с оплатой стоимости по договору), размещенные на сайте Исследовательского центра.
                                        br 
                                        p Заявления, подписанные лично с указанием даты заполнения, а также требуемые документы необходимо отсканировать и прикрепить к электронному письму с указанием темы: поступление/заявление на поступление. Допустимые форматы файлов: jpg, jpeg, pdf. Одновременно с документами направляется реферат в формате Word, pdf. В электронном письме указывается перечень направляемых документов.
                                        br
                                        p Отсканированные копии документов должны быть четкими и с хорошо читаемыми печатями. Заверения указанных копий документов не требуется.
                                        br 
                                        p Письма без прикрепленных файлов, в том числе реферата, а также при несоответствии перечня прикрепленных файлов требованиям Правил приема, не рассматриваются, информационное письмо о принятии документов абитуриенту не отправляется.
                                        br
                                        p Документы считаются принятыми к рассмотрению после получения абитуриентом подтверждения на электронный адрес поступающего.