-
    var documents = [
        {
            name: "Копия Устава",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Копия распоряжения",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Копия Лицензии на образовательную деятельность",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Копия Свидетельства государственной аккредитации",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Копия Свидетельства ФНС",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        },
        {
            name: "Положение о научных исследованиях",
            description: "",
            url: "",
            type: "pdf",
            size: "211КБ"
        },
        {
            name: "Копия Свидетельство о профессионально-общественной аккредитации МАГИСТРАТУРА",
            description: "",
            url: "",
            type: "pdf",
            size: "117КБ"
        },
        {
            name: "Копии СВИДЕТЕЛЬСТВ к товарным знакам",
            description: "",
            url: "",
            type: "pdf",
            size: "144КБ"
        },
    ]

            
// Centre
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="rshchp.html") РШЧП
                li.nav-line__item
                    a(href="rshchp.html") Об РШЧП
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item.active
                        a(href="rshchp.html") Об РШЧП
                    li.section-nav__item
                        a(href="rshchp_masters-degree.html") Магистратура
                    li.section-nav__item
                        a(href="rshchp_training.html") Повышение квалификации
                    li.section-nav__item
                        a(href="rshchp_cathedras.html") Кафедры
                    li.section-nav__item
                        a(href="rshchp_graduates.html") Выпускники
                    li.section-nav__item
                        a(href="rshchp_graduate-school.html") Аспирантура
                    li.section-nav__item
                        a(href="rshchp_internships-and-practice.html") Стажировки и практика
                    li.section-nav__item
                        a(href="rshchp_information-about-the-educational-organization.html") Сведения об образовательной организации
        // Section Nav
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li
                                a(href="#section-1") Об РШЧП
                            li
                                a(href="#section-2") История
                            li
                                a(href="#section-3") Документы
            // Section Menu
            div.section-list#section-list
                // О центре
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Российская Школа Частного Права
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        h3#section-1 Об РШЧП
                                        img(src="images/rshchp/about-rshchp.png")
                                        p Федеральное государственное бюджетное научное учреждение «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее – Центр) создано распоряжением Президента РСФСР Б.Н. Ельцина от 27 декабря 1991 года. ( Устав Центра )
                                        br
                                        p Имя Сергея Сергеевича Алексеева отражено в наименовании Центра в соответствии с Указом Президента Российской Федерации от 30.09.2013 № 748 «Об увековечивании памяти С.С. Алексеева» в знак признания его выдающегося вклада в развитие отечественной науки и его роли в создании Центра.
                                        br
                                        p С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями. 
                                        br
                                        p Дата создания Исследовательского центра частного права – 27 декабря 1991 года.
                                        br
                                        p Дата создания Российской школы частного права — 17 марта 1995 года.
                                        br
                                        p Учредителем и собственником имущества Исследовательского центра частного права является Российская Федерация.
                                        br
                                        p Функции и полномочия учредителя от имени Российской Федерации осуществляет Правительство Российской Федерации (<a href="www.government.ru" target="_blank">www.government.ru</a>).
                                        br
                                        p Отдельные функции и полномочия учредителя осуществляют Министерство образования и науки Российской Федерации (<a href="www.minobrnauki.gov.ru" target="_blank">www.minobrnauki.gov.ru</a>) и Федеральное агентство по управлению государственным имуществом.
                                        br
                                        p Федеральное государственное бюджетное научное учреждение «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации»
                                        br
                                        p Адрес: 103132, г. Москва, ул. Ильинка, д.8, стр.2.
                                        br
                                        p Режим и график работы:
                                        br
                                        p понедельник — пятница: 09.00 — 18.00;
                                        br
                                        p выходной: суббота, воскресенье.
                                        br
                                        p Телефон: 8 (495) 606-36-39
                                        br
                                        br
                                        p E-mail:
                                            a(href="mailto:info@privlaw.ru") info@privlaw.ru
                                        br
                                        p Сведения о месте осуществления образовательной деятельности
                                        br
                                        p Уральский филиал федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации»
                                        br
                                        p Адрес: 620014, г. Екатеринбург, ул. Вайнера, д. 9а.
                                        br
                                        p Режим и график работы:
                                        br
                                        p понедельник — пятница: 09.00 — 18.00;
                                        br
                                        p выходной: суббота, воскресенье.
                                        br
                                        p Телефон: 8 (343) 371-36-41
                                        br
                                        p E-mail:
                                            a(href="mailto:uril@privlaw.ru") uril@privlaw.ru
                                        hr
                                        h3#section-2 История
                                        p Уральское отделение Российской школы частного права образовано в 1995 году в соответствии с Программой «Становление и развитие частного права в России».
                                        br
                                        p Своим созданием Уральское отделение Российской школы частного права обязано первому ректору Российской школы частного права Станиславу Антоновичу Хохлову, который также является выходцем Уральской школы права.
                                        br
                                        p Организационной, подготовительной работой по поручению С.А. Хохлова занимался Владимир Александрович Плетнев.
                                        br
                                        p После образования УО РШЧП его возглавил Георгий Геннадьевич Пиликин, а председателем Ученого совета был Сергей Сергеевич Алексеев.
                                        br
                                        p В 2015 году  в результате реорганизации Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации  путем присоединения к нему Российской школы частного права (включая Уральский филиал) был создан Уральский филиал федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации»
                                        br
                                        p В настоящее время руководство Уральским филиалом осуществляет доктор юридических наук, профессор, Заслуженный юрист Российской Федерации Бронислав Мичиславович Гонгало, а заместителем директора является кандидат юридических наук, Заслуженный юрист Российской Федерации Михаил Львович Скуратовский.
                                        hr
                                        // Документы
                                        div.section#section-3
                                            // Section Header
                                            div.section-header
                                                h3.section-title Документы
                                            // Section Header
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download