-
    var groups=[
        {
            name: "Рабочая группа Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства по совершенствованию законодательства о вещных правах (решения Совета от 1 ноября 2018 г., протокол № 181, от 17 января 2019 г., протокол № 183)",
            date: "Дата создания – 2011г.",
            description: "С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.",
            members: [
                {
                name: "Суханов Евгений Алексеевич",
                position: "Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова, доктор юридических наук, профессор (заместитель председателя Совета)"
                },
                {
                    name: "Азимова Лариса Владимировна",
                    position: "Консультант отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Габов Андрей Владимирович",
                    position: "Член Совета, главный научный сотрудник сектора предпринимательского и корпоративного права Института государства и права"
                },
                {
                    name: "Медведева Татьяна Михайловна",
                    position: "Член Совета, заместитель начальника отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Михеева Лидия Юрьевна",
                    position: "Член Совета, председатель совета (руководитель) Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Новосёлова Людмила Александровна",
                    position: "Член Совета, председатель Суда по интеллектуальным правам"
                },
                {
                    name: "Тычинская Елена Владиславовна",
                    position: "Ведущий научный сотрудник группы научных сотрудников, обеспечивающих подготовку экспертных заключений, Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                }
            ]
        },
        {
            name: "Рабочая группа Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства по подготовке концепции развития положений части второй Гражданского кодекса Российской Федерации о договоре страхования (решение Совета от 19 февраля 2018 г., протокол № 173)",
            date: "Дата создания – 2011г.",
            description: "С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.",
            members: [
                {
                name: "СухановЕвгений Алексеевич",
                position: "Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова, доктор юридических наук, профессор (заместитель председателя Совета)"
                },
                {
                    name: "Азимова Лариса Владимировна",
                    position: "Консультант отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Габов Андрей Владимирович",
                    position: "Член Совета, главный научный сотрудник сектора предпринимательского и корпоративного права Института государства и права"
                },
                {
                    name: "Медведева Татьяна Михайловна",
                    position: "Член Совета, заместитель начальника отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Михеева Лидия Юрьевна",
                    position: "Член Совета, председатель совета (руководитель) Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Новосёлова Людмила Александровна",
                    position: "Член Совета, председатель Суда по интеллектуальным правам"
                },
                {
                    name: "Тычинская Елена Владиславовна",
                    position: "Ведущий научный сотрудник группы научных сотрудников, обеспечивающих подготовку экспертных заключений, Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                }
            ]
        },
        {
            name: "Рабочая группа Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства по совершенствованию законодательства в области сообладания исключительными правами (решения Совета от 14 ноября 2019 г., протокол № 192, от 9 января 2020 г., протокол № 194 и от 15 октября 2020г. протокол № 203)",
            date: "Дата создания – 2011г.",
            description: "С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.",
            members: [
                {
                name: "СухановЕвгений Алексеевич",
                position: "Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова, доктор юридических наук, профессор (заместитель председателя Совета)"
                },
                {
                    name: "Азимова Лариса Владимировна",
                    position: "Консультант отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Габов Андрей Владимирович",
                    position: "Член Совета, главный научный сотрудник сектора предпринимательского и корпоративного права Института государства и права"
                },
                {
                    name: "Медведева Татьяна Михайловна",
                    position: "Член Совета, заместитель начальника отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Михеева Лидия Юрьевна",
                    position: "Член Совета, председатель совета (руководитель) Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Новосёлова Людмила Александровна",
                    position: "Член Совета, председатель Суда по интеллектуальным правам"
                },
                {
                    name: "Тычинская Елена Владиславовна",
                    position: "Ведущий научный сотрудник группы научных сотрудников, обеспечивающих подготовку экспертных заключений, Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                }
            ]
        },
        {
            name: "Рабочая группа Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства по совершенствованию законодательства Российской Федерации о страховании (решение Совета от 20 июля 2020 года, протокол № 199/оп).",
            date: "Дата создания – 2011г.",
            description: "С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.",
            members: [
                {
                name: "СухановЕвгений Алексеевич",
                position: "Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова, доктор юридических наук, профессор (заместитель председателя Совета)"
                },
                {
                    name: "Азимова Лариса Владимировна",
                    position: "Консультант отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Габов Андрей Владимирович",
                    position: "Член Совета, главный научный сотрудник сектора предпринимательского и корпоративного права Института государства и права"
                },
                {
                    name: "Медведева Татьяна Михайловна",
                    position: "Член Совета, заместитель начальника отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Михеева Лидия Юрьевна",
                    position: "Член Совета, председатель совета (руководитель) Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Новосёлова Людмила Александровна",
                    position: "Член Совета, председатель Суда по интеллектуальным правам"
                },
                {
                    name: "Тычинская Елена Владиславовна",
                    position: "Ведущий научный сотрудник группы научных сотрудников, обеспечивающих подготовку экспертных заключений, Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                }
            ]
        },
        {
            name: "Рабочая группа Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства по подготовке предложений о внесении изменений в главу 9.1 части первой Гражданского кодекса Российской Федерации по вопросу дистанционного участия в собрании (решение Совета от 11 февраля 2021 г., протокол № 206).",
            date: "Дата создания – 2011г.",
            description: "С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.",
            members: [
                {
                name: "СухановЕвгений Алексеевич",
                position: "Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова, доктор юридических наук, профессор (заместитель председателя Совета)"
                },
                {
                    name: "Азимова Лариса Владимировна",
                    position: "Консультант отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Габов Андрей Владимирович",
                    position: "Член Совета, главный научный сотрудник сектора предпринимательского и корпоративного права Института государства и права"
                },
                {
                    name: "Медведева Татьяна Михайловна",
                    position: "Член Совета, заместитель начальника отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Михеева Лидия Юрьевна",
                    position: "Член Совета, председатель совета (руководитель) Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Новосёлова Людмила Александровна",
                    position: "Член Совета, председатель Суда по интеллектуальным правам"
                },
                {
                    name: "Тычинская Елена Владиславовна",
                    position: "Ведущий научный сотрудник группы научных сотрудников, обеспечивающих подготовку экспертных заключений, Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                }
            ]
        },
        {
            name: "Рабочая группа Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства по совершенствованию положений главы 39 Гражданского кодекса Российской Федерации о возмездном оказании услуг (решение Совета от 21 октября 2021 г., протокол № 212).",
            date: "Дата создания – 2011г.",
            description: "С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.",
            members: [
                {
                name: "СухановЕвгений Алексеевич",
                position: "Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова, доктор юридических наук, профессор (заместитель председателя Совета)"
                },
                {
                    name: "Азимова Лариса Владимировна",
                    position: "Консультант отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Габов Андрей Владимирович",
                    position: "Член Совета, главный научный сотрудник сектора предпринимательского и корпоративного права Института государства и права"
                },
                {
                    name: "Медведева Татьяна Михайловна",
                    position: "Член Совета, заместитель начальника отдела законодательства о юридических лицах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Михеева Лидия Юрьевна",
                    position: "Член Совета, председатель совета (руководитель) Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                },
                {
                    name: "Новосёлова Людмила Александровна",
                    position: "Член Совета, председатель Суда по интеллектуальным правам"
                },
                {
                    name: "Тычинская Елена Владиславовна",
                    position: "Ведущий научный сотрудник группы научных сотрудников, обеспечивающих подготовку экспертных заключений, Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации"
                }
            ]
        }
    ]
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="codification-council.html") Совет по кодификации
                li.nav-line__item
                    a(href="codification-council_.html") Материалы работы Совета
                li.nav-line__item
                    a(href="codification-council_meetings-of-the-council.html") Заседания Совета
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="codification-council.html") О Совете
                    li.section-nav__item.active
                        a(href="codification-council_working-groups.html") Рабочие группы
                    li.section-nav__item
                        a(href="codification-council_meetings-of-the-council.html") Заседания Совета
                    li.section-nav__item
                        a(href="codification-council_expert-opinions.html") Материалы работы Совета
                
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Рабочие группы
        // Filter Search     
        // Section Header
        div.section-body
            // Expansion Group
            div.expansion-section
                each item in groups
                    // Expansion Group
                    div.expansion-section-group
                        div.expansion-section-group-header
                            div.expansion-section-group-header-container
                                div.expansion-section-group-header-content
                                    h5.expansion-section-group-title=item.name
                                    div.expansion-section-group-icon
                        div.expansion-section-group-body
                            div.article
                                p.article-description=item.date
                                div.article-content
                                    p=item.description
                            // Members
                            div.students
                                div.students-container
                                    // Items   
                                    each member in item.members
                                        div.students__item
                                            div.students__item-container
                                                div.students__item-side-content
                                                    h3.students__item-name=member.name
                                                div.students__item-content
                                                    div.students__item-content-group
                                                        p.students__item-description=member.position