-
    var members = [
        {
            name: "Крашенников Павел Владимирович",
            position: "Председатель Комитета Государственной Думы по государственному строительству и законодательству, доктор юридических наук, профессор (председатель Совета)"
        },
        {
            name: "Маковский Александр Львович",
            position: "Доктор юридических наук, профессор (заместитель председателя Совета)"
        },
        {
            name: "Суханов Евгений Алексеевич",
            position: "Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова, доктор юридических наук, профессор (заместитель председателя Совета)"
        },
        {
            name: "Блажев Виктор Владимирович",
            position: "Ректор Московского государственного юридического университета имени О.Е. Кутафина (МГЮА), кандидат юридических наук, профессор"
        },
        {
            name: "Брычева Лариса Игоревна",
            position: "Помощник Президента Российской Федерации – начальник Государственно-правового управления Президента Российской Федерации, кандидат юридических наук"
        },
        {
            name: "Вавилин Евгений Валерьевич",
            position: "Заведующий кафедрой жилищного и семейного права Московского государственного юридического университета имени О.Е. Кутафина (МГЮА), доктор юридических наук, профессор"
        }
    ]

-
    var documents = [
        {
            name: "Указ Президента Российской Федерации от 5 октября 1999 года № 1338 «О Совете при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства»",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Положение о Совете при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства (утверждено Указом Президента Российской Федерации от 5 октября 1999 года № 1338; в редакции Указов Президента Российской Федерации от 18 июля 2008 года № 1108, от 25 июля 2014 года № 529)",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Указ Президента Российской Федерации от 29 октября 2003 года №1267 «Об обеспечении деятельности Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства»",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Указ Президента Российской Федерации от 18 июля 2008 года №1108 «О совершенствовании Гражданского кодекса Российской Федерации»",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Указ Президента Российской Федерации от 18 сентября 2018 года №525 «Об утверждении состава Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства»",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        }
    ]

            
// Centre
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="codification-council.html") Совет по кодификации
                li.nav-line__item
                    a(href="codification-council.html") О Совете
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item.active
                        a(href="codification-council.html") О Совете
                    li.section-nav__item
                        a(href="codification-council_working-groups.html") Рабочие группы
                    li.section-nav__item
                        a(href="codification-council_meetings-of-the-council.html") Заседания Совета
                    li.section-nav__item
                        a(href="codification-council_expert-opinions.html") Материалы работы Совета
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li
                                a(href="#section-1") О Совете
                            li
                                a(href="#section-2") Состав Совета
                            li
                                a(href="#section-3") Документы Совета
            // Section Menu

            div.section-list#section-list
                
                // О центре
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Совет по кодификации
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        // О Совете
                                        h3#section-1 О Совете
                                        p Федеральное государственное бюджетное научное учреждение «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее – Центр) создано распоряжением Президента РСФСР Б.Н. Ельцина от 27 декабря 1991 года. ( Устав Центра )
                                        br
                                        p Имя Сергея Сергеевича Алексеева отражено в наименовании Центра в соответствии с Указом Президента Российской Федерации от 30.09.2013 № 748 «Об увековечивании памяти С.С. Алексеева» в знак признания его выдающегося вклада в развитие отечественной науки и его роли в создании Центра.
                                        br
                                        p С момента основания перед Центром была поставлена задача в максимально сжатые сроки привести правовое регулирование в соответствие с новыми экономическими отношениями. Сердцевиной этой работы стала разработка нового Гражданского кодекса Российской Федерации – экономической конституции страны. По итогам напряженной творческой работы коллектива Центра в промежутке с 1994 по 2006 годы увидели свет четыре части Гражданского кодекса Российской Федерации, а в 2008-2010 годы подготовлены развернутые поправки к нему, призванные модернизировать гражданское законодательство и привести его в соответствие с прошедшими заметную эволюцию общественными и экономическими отношениями.
                                        hr
                                        // Состав Совета
                                        h3#section-2 Состав Совета
                                        p Список членов Совета подготовлен на основании состава Совета, утвержденного Указом Президента Российской Федерации от 18 сентября 2018 г. № 525.
                                        br
                                        div.section
                                            div.section-body
                                                // Members
                                                div.students
                                                    div.students-container
                                                        // Items
                                                        each member in members
                                                            div.students__item
                                                                div.students__item-container
                                                                    div.students__item-side-content
                                                                        h3.students__item-name=member.name
                                                                    div.students__item-content
                                                                        div.students__item-content-group
                                                                            p.students__item-description=member.position
                                        // Документы Совета
                                        h3#section-3 Документы Совета
                                        div.section
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download