-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Тололаева Наталья Владимировна",
            description: "Старший научный сотрудник отдела договорного права Исследовательского центра, доцент кафедры обязательственного права, к.ю.н.",
            image: "persons/persons_tololaeva-scaled_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Слесарев Владимир Львович",
            description: "Начальник отдела договорного права Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
    ]
    
// Persons
section.section
    div.section-container
        // Section Header
        div.section-header
            h5.section-title Наши сотрудники
        // Section Header
        div.persons.index
            div.section-slider.owl-carousel#section-slider-persons
                // Items
                each person in persons
                    div.persons__item
                        a(href=person.url class="persons__item-container")
                            span.persons__item-image
                                img(src=`images/${person.image}`)
                            div.persons__item-content
                                h3.persons__item-name=person.name
                                p.persons__item-description=person.description
                                each tag in person.tags
                                    span.persons__item-tag=tag        
        //Section Footer
        div.section-footer.align-right
            div.section-button
                a(href="persons.html") Все персоны
        //Section Footer