-
    var filter = [
        "Мероприятия",
        "Новости",
        "Документы",
        "Издания",
        "Видео",
        "Персоналии"
    ]

-
    var news = [
        {
            title: "Исследовательский центр посетила делегация цивилистов из Казахстана",
            url: "news-detail.html",
            date: "17 октября 2021",
            tags: [
                "Исследовательский центр",
            ]
        },
        {
            title: "Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом",
            url: "news-detail.html",
            date: "11 октября 2021",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            title: "Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП",
            url: "news-detail.html",
            date: "Исследовательский центр",
            tags: [
                "РШЧП"
            ]
        }
    ]

-
    var events = 
        {
            future: [
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_22.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "22",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ],
            passed: [
                {
                    title: "Совет по кодификации рекомендовал начать реформу вещного права с блока норм о недвижимости",
                    image: "events/events_21.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "20",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр посетила делегация цивилистов из Казахстана",
                    image: "events/events_17.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "вторник",
                        number: "20",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_20.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "понедельник",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ]
        }

-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        }
    ]

-
    var documents = [
        {
            name: "Копия Устава",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Копия распоряжения",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Копия Лицензии на образовательную деятельность",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Копия Свидетельства государственной аккредитации",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        }
    ]
// Search
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="search.html") Поиск
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Поиск
            // Filter Dropdown
            form.search
                div.search-container
                    div.search__field
                        input(id="main-search" type="text" placeholder="Введите поисковый запрос")
                    div.search-controllers
                        div.filter-dropdown
                            div.filter-dropdown-container
                                input(type="radio" name="tags")
                                span#text-tags Все разделы
                                div.filter-dropdown__expansion-icon
                            div.filter-dropdown-list
                                p.active Все разделы
                                each item in filter
                                    p=item
                        button(type="submit").search-button#search-button
                            span Поиск            
            // Filter Dropdown
        // Section Header
        div.section-search
            div.section-search-container
                // News
                each item in news
                    div.news__item
                        div.section-tag Новости
                        a(href=`${item.url}` class="news__item-container")
                            div.news__item-content
                                span.news__item-date=item.date
                                h3.news__item-title=item.title
                                each tag in item.tags
                                    span.news__item-tag=item.tag
                // Events
                each event in events.passed
                    div.events__item.passed
                        div.section-tag Мероприятия
                        a(href="events-detail.html" class="events__item-container")
                            div.events__item-content
                                div.events__item-content-group
                                    each tag in event.tags
                                        span.events__item-tag=tag
                                    h3.events__item-title=event.title
                                    span.date-box__number=event.date.number
                                    div.date-box__group
                                        span.date-box__month=event.date.month
                                        span.date-box__day=event.date.day
                // Documents
                each document in documents
                    div.documents__item
                        div.section-tag Документы
                        a.documents__item-container(href="/")
                            div.documents__item-icon
                                img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                            div.documents__item-content
                                div.documents__item-content-group
                                    h3.documents__item-title=document.name
                                    span.documents__item-size=document.size
                                span.documents__item-helper-icon.icon-download
                // Persons
                each person in persons
                    div.persons__item
                        div.section-tag Персоналии
                        a(href=person.url class="persons__item-container")
                            div.persons__item-content
                                h3.persons__item-name=person.name
                                p.persons__item-description=person.description
                                each tag in person.tags
                                    span.persons__item-tag=tag
                // Items
                div.section-footer
                    include ../../components/pagination/pagination.pug