-
    var events = 
        {
            future: [
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_22.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "22",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Проблемы компенсации морального вреда в судебной практике» проведет Исследовательский центр частного права",
                    image: "events/events_21.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "21",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ],
            passed: [
                {
                    title: "Совет по кодификации рекомендовал начать реформу вещного права с блока норм о недвижимости",
                    image: "events/events_20.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "20",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр посетила делегация цивилистов из Казахстана",
                    image: "events/events_17.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "вторник",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_22.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "понедельник",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Круглый стол «Проблемы компенсации морального вреда в судебной практике» проведет Исследовательский центр частного права",
                    image: "events/events_21.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "четверг",
                        number: "15",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Совет по кодификации рекомендовал начать реформу вещного права с блока норм о недвижимости",
                    image: "events/events_17.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "среда",
                        number: "14",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр посетила делегация цивилистов из Казахстана",
                    image: "events/events_17.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ]
        }

// Events
div.events
    div.events-container
        // Items future
        each event in events.future
            div.events__item
                a(href="events-detail.html" class="events__item-container")
                    span.events__item-image
                        span.events__item-tag-state
                        img(src=`images/${event.image}`)
                    div.events__item-content
                        div.events__item-content-group
                            each tag in event.tags
                                span.events__item-tag=tag
                            h3.events__item-title=event.title
                            span.date-box
                                span.date-box__number=event.date.number
                                div.date-box__group
                                    span.date-box__month=event.date.month
                                    span.date-box__day=event.date.day
        // Items passed
        each event in events.passed
            div.events__item.passed
                a(href="events-detail.html" class="events__item-container")
                    span.events__item-image
                        span.events__item-tag-state
                        img(src=`images/${event.image}`)
                    div.events__item-content
                        div.events__item-content-group
                            each tag in event.tags
                                span.events__item-tag=tag
                            h3.events__item-title=event.title
                        span.date-box
                            span.date-box__number=event.date.number
                            div.date-box__group
                                span.date-box__month=event.date.month
                                span.date-box__day=event.date.day
// Events