-
    var events = 
        {
            future: [
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_22.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "22",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Проблемы компенсации морального вреда в судебной практике» проведет Исследовательский центр частного права",
                    image: "events/events_21.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "21",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ],
            passed: [
                {
                    title: "Совет по кодификации рекомендовал начать реформу вещного права с блока норм о недвижимости",
                    image: "events/events_20.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "20",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр посетила делегация цивилистов из Казахстана",
                    image: "events/events_17.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "вторник",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_22.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "понедельник",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ]
        }

-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
    ]

-
    var documents = [
        {
            name: "Копия Устава",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Копия распоряжения",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Копия Лицензии на образовательную деятельность",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Копия Свидетельства государственной аккредитации",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Копия Свидетельства ФНС",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        },
        {
            name: "Положение о научных исследованиях",
            description: "",
            url: "",
            type: "pdf",
            size: "211КБ"
        },
        {
            name: "Копия Свидетельство о профессионально-общественной аккредитации МАГИСТРАТУРА",
            description: "",
            url: "",
            type: "pdf",
            size: "117КБ"
        },
        {
            name: "Копии СВИДЕТЕЛЬСТВ к товарным знакам",
            description: "",
            url: "",
            type: "pdf",
            size: "144КБ"
        },
    ]

            
// Centre
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="educational-projects_private-law-dialogues.html") Просветительские проекты
                li.nav-line__item
                    a(href="educational-projects_alekseevsky-readings.html") Алексеевские чтения
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="educational-projects_private-law-dialogues.html") Диалоги о частном праве
                    li.section-nav__item
                        a(href="educational-projects_family-law-club.html") Клуб семейного права
                    li.section-nav__item.active
                        a(href="educational-projects_alekseevsky-readings.html") Алексеевские чтения
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li
                                a(href="#section-1") О проекте
                            li
                                a(href="#section-2") Предстоящие мероприятия
                            li
                                a(href="#section-3") Подать заявку на участие
                            li
                                a(href="#section-4") Прошедшие конференции
            // Section Menu
            div.section-list#section-list
                // О центре
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Алексеевские чтения
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        // О проекте
                                        div.video
                                            <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/STX69lJwCyo?ecver=1&amp;cc_load_policy=1&amp;iv_load_policy=1&amp;yt:stretch=16:9&amp;autohide=0&amp;color=red&amp;width=100%&amp;width=100%" width="100%" height="100%" allowtransparency="true" frameborder="0" ><</iframe>
                                        h3#section-1 О проекте
                                        p 20 февраля 2019 года в Исследовательском центре частного права им. С.С. Алексеева при Президенте Российской Федерации стартовал Московский этап Межвузовских Молодёжных Алексеевских чтений. Данное мероприятие входит в число мероприятий, осуществляемых в рамках проекта «Алексеевское наследие», и проводится наряду с Санкт-Петербургским подготовительным этапом к конференции, организуемой юридическим факультетом Санкт-Петербургского государственного университета и включённой в деловую программу Петербургского Международного Юридического Форума.
                                        br
                                        p Очная ступень чтений будет проведена 22 марта 2019 года с 10:00 до 13:00 в Исследовательском центре частного права им. С.С. Алексеева при Президенте Российской Федерации по адресу: г. Москва, ул. Ильинка, д. 8, к. 2, третий этаж, лекционный зал.
                                        br
                                        p Центральная тема обсуждений, отправная точка которых – труды Сергея Сергеевича Алексеева, а также труды иных выдающихся учёных (Б.Б. Черепахина, М.М. Агаркова, В.А. Рясенцева, В.С. Нерсесянца и др.) по теории советского права и оценка их влияния на эволюцию научной мысли, — «Пределы и границы права и правового регулирования в контекстах XXI века».
                                        br
                                        p В ходе Московского этапа Межвузовских Молодёжных Алексеевских чтений (Конкурса) участники — магистранты, аспиранты, молодые учёные таких юридических вузов как Исследовательский центр частного права, Московский государственный юридический университет им. О.Е. Кутафина (МГЮА), Высшая школа экономики, Иркутский институт (филиал) Всероссийский государственный университет юстиции (РПА Минюста), Российский государственный университет правосудия, Саратовская юридическая академия, Нижегородская академия МВД России представили доклады в рамках обозначенной общей темы.
                                        br
                                        p В предстоящие три недели конкурсной комиссией будут отобраны лучшие доклады, авторы которых будут приглашены к участию в очной ступени Конкурса.
                                        hr
                                        // Предстоящие мероприятия
                                        h3#section-2 Предстоящие мероприятия
                                        div.section
                                            div.section-body
                                                // Events
                                                div.events.list
                                                    div.events-container-list
                                                        each event in events.future
                                                            div.events__item
                                                                a(href="events-detail.html" class="events__item-container")
                                                                    span.events__item-image
                                                                        span.events__item-tag-state
                                                                        img(src=`images/${event.image}`)
                                                                    div.events__item-content
                                                                        div.events__item-content-group
                                                                            each tag in event.tags
                                                                                span.events__item-tag=tag
                                                                            h3.events__item-title=event.title
                                                                            span.date-box__number=event.date.number
                                                                            div.date-box__group
                                                                                span.date-box__month=event.date.month
                                                                                span.date-box__day=event.date.day
                                        // Подать заявку на участие
                                        h3#section-3 Подать заявку на участие
                                        p Хотите принять участие как гость или выступить в качестве спикера?
                                        p Заполните форму ниже, и наш сотрудник с Вами обязательно свяжется.
                                        div.section
                                            div.section-body
                                                div.form-wrapper 
                                                    form.form#form-educational-projects(action="#")
                                                        div.form-container
                                                            div.form-body
                                                                div.form-group.columns
                                                                    div.form__field
                                                                        label(for="name") ФИО *
                                                                        input(type="text" name="name" id="name" required)
                                                                    div.form__field
                                                                        label(for="email") Email *
                                                                        input(type="email" name="email" id="email" required)
                                                                div.form-group.columns
                                                                    div.form__field
                                                                        label(for="phone") Телефон *
                                                                        input(type="phone" name="phone" id="phone" required)
                                                                    div.form__field
                                                                        label(for="place") Место проведения конференции *
                                                                        input(type="text" name="place" id="place" required)
                                                                div.form-group.columns
                                                                    div.form__field
                                                                        label(for="work") Место работы *
                                                                        input(type="text" name="work" id="work" required)
                                                                    div.form__field
                                                                        label(for="position") Должность *
                                                                        input(type="text" name="position" id="position" required)
                                                                div.form__field
                                                                    label(for="city") Город *
                                                                    input(type="text" name="city" id="city" required)
                                                                div.form__field
                                                                    label(for="message") Дополнительная информация
                                                                    textarea(rows="10" name="message" id="message")
                                                                div.form-group.helpers
                                                                    p * Поля обязательные к заполнению
                                                            div.form-footer.align-right
                                                                div.form-button
                                                                    input(type="submit" value="Отправить")
                                                            div.form-modal
                                                                div.form-modal-container
                                                                    div.form-modal-sheet
                                                                        div.form-modal-sheet-container
                                                                            div.form-modal-sheet__button-close
                                                                                span.icon
                                                                            div.form-modal-sheet-content
                                                                                span.icon-form-confirm
                                                                                p Форма успешно отправлена   
                                        // Прошедшие мероприятия
                                        h3#section-4 Прошедшие мероприятия
                                        div.section
                                            div.section-body
                                                div.events.list
                                                    div.events-container-list
                                                        // Items future
                                                        each event in events.passed
                                                            div.events__item.passed
                                                                a(href="events-detail.html" class="events__item-container")
                                                                    span.events__item-image
                                                                        span.events__item-tag-state
                                                                        img(src=`images/${event.image}`)
                                                                    div.events__item-content
                                                                        div.events__item-content-group
                                                                            each tag in event.tags
                                                                                span.events__item-tag=tag
                                                                            h3.events__item-title=event.title
                                                                            span.date-box__number=event.date.number
                                                                            div.date-box__group
                                                                                span.date-box__month=event.date.month
                                                                                span.date-box__day=event.date.day
                                                    div.section-footer.align-right
                                                        div.section-button
                                                            a(href="events.html") Все мероприятия