-
    var events = 
        {
            future: [
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_22.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "22",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Проблемы компенсации морального вреда в судебной практике» проведет Исследовательский центр частного права",
                    image: "events/events_21.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "21",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ],
            passed: [
                {
                    title: "Совет по кодификации рекомендовал начать реформу вещного права с блока норм о недвижимости",
                    image: "events/events_20.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "пятница",
                        number: "20",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр посетила делегация цивилистов из Казахстана",
                    image: "events/events_17.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "вторник",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                },
                {
                    title: "Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми",
                    image: "events/events_22.10.2021_sm-1.png",
                    tags: [
                        "Исследовательский центр",
                    ],
                    date: {
                        day: "понедельник",
                        number: "17",
                        month: "октября 2021",
                        year: "2021"
                    }
                }
            ]
        }

-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
    ]

-
    var documents = [
        {
            name: "Копия Устава",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Копия распоряжения",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Копия Лицензии на образовательную деятельность",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Копия Свидетельства государственной аккредитации",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Копия Свидетельства ФНС",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        },
        {
            name: "Положение о научных исследованиях",
            description: "",
            url: "",
            type: "pdf",
            size: "211КБ"
        },
        {
            name: "Копия Свидетельство о профессионально-общественной аккредитации МАГИСТРАТУРА",
            description: "",
            url: "",
            type: "pdf",
            size: "117КБ"
        },
        {
            name: "Копии СВИДЕТЕЛЬСТВ к товарным знакам",
            description: "",
            url: "",
            type: "pdf",
            size: "144КБ"
        },
    ]

            
// Centre
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="educational-projects_private-law-dialogues.html") Просветительские проекты
                li.nav-line__item
                    a(href="educational-projects_alekseevsky-readings.html") Клуб семейного права
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="educational-projects_private-law-dialogues.html") Диалоги о частном праве
                    li.section-nav__item.active
                        a(href="educational-projects_family-law-club.html") Клуб семейного права
                    li.section-nav__item
                        a(href="educational-projects_alekseevsky-readings.html") Алексеевские чтения
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li
                                a(href="#section-1") О проекте
                            li
                                a(href="#section-2") Предстоящие мероприятия
                            li
                                a(href="#section-3") Подать заявку на участие
                            li
                                a(href="#section-4") Прошедшие конференции
            // Section Menu
            div.section-list#section-list
                // О центре
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Клуб семейного права
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        // О проекте
                                        h3#section-1 О проекте
                                        p <b>Цель</b> — создать неформальное объединение юристов, чья профессиональная деятельность связана с семейным правом, для обсуждения актуальных проблем науки семейного права и интересных судебных кейсов.
                                        br
                                        p <b>Основная миссия</b> — стимулировать отечественную частноправовую доктрину к серьезной и глубокой проработке вопросов семейного права — правосубъектность ребенка, общее имущество супругов, алиментное обязательство и многих других.
                                        br
                                        p <b>Членами нашего Клуба</b> могут стать все те, в чью сферу профессиональных интересов входят вопросы семейного и наследственного права — преподаватели вузов, представители судейского сообщества, научные работники, адвокаты, нотариусы, сотрудники органов опеки и попечительства.
                                        br
                                        p <b>Для вступления в Клуб не нужно обладать ученой степенью или платить взносы.</b> Просто заполните представленную <a href="">форму</a>. Эта регистрация требуется для рассылки Вам новостей клуба.
                                        br
                                        p Кроме того, члены Клуба будут иметь преимущественное перед всеми другими желающими право участия в мероприятиях Клуба. Членство в клубе бесплатное, координация ведется через группу в социальной сети <a href="">facebook</a>.
                                        div.article-section-inner
                                            div.documents
                                                div.documents-container
                                                    // Items
                                                    div.documents__item
                                                        a.documents__item-container(href="/")
                                                            div.documents__item-icon
                                                                img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                            div.documents__item-content
                                                                div.documents__item-content-group
                                                                    h3.documents__item-title Члены клуба
                                                                    span.documents__item-size PDF 2 МБ
                                                                span.documents__item-helper-icon.icon-download
                                        hr
                                        // Предстоящие мероприятия
                                        h3#section-2 Предстоящие мероприятия
                                        div.section
                                            div.section-body
                                                // Events
                                                div.events.list
                                                    div.events-container-list
                                                        each event in events.future
                                                            div.events__item
                                                                a(href="events-detail.html" class="events__item-container")
                                                                    span.events__item-image
                                                                        span.events__item-tag-state
                                                                        img(src=`images/${event.image}`)
                                                                    div.events__item-content
                                                                        div.events__item-content-group
                                                                            each tag in event.tags
                                                                                span.events__item-tag=tag
                                                                            h3.events__item-title=event.title
                                                                            span.date-box__number=event.date.number
                                                                            div.date-box__group
                                                                                span.date-box__month=event.date.month
                                                                                span.date-box__day=event.date.day
                                        // Подать заявку на участие
                                        h3#section-3 Подать заявку на участие
                                        p Хотите принять участие как гость или выступить в качестве спикера?
                                        p Заполните форму ниже, и наш сотрудник с Вами обязательно свяжется.
                                        div.section
                                            div.section-body
                                                div.form-wrapper 
                                                    form.form#form-educational-projects(action="#")
                                                        div.form-container
                                                            div.form-body
                                                                div.form-group.columns
                                                                    div.form__field
                                                                        label(for="name") ФИО *
                                                                        input(type="text" name="name" id="name" required)
                                                                    div.form__field
                                                                        label(for="email") Email *
                                                                        input(type="email" name="email" id="email" required)
                                                                div.form-group.columns
                                                                    div.form__field
                                                                        label(for="phone") Телефон *
                                                                        input(type="phone" name="phone" id="phone" required)
                                                                    div.form__field
                                                                        label(for="place") Место проведения конференции *
                                                                        input(type="text" name="place" id="place" required)
                                                                div.form-group.columns
                                                                    div.form__field
                                                                        label(for="work") Место работы *
                                                                        input(type="text" name="work" id="work" required)
                                                                    div.form__field
                                                                        label(for="position") Должность *
                                                                        input(type="text" name="position" id="position" required)
                                                                div.form__field
                                                                    label(for="city") Город *
                                                                    input(type="text" name="city" id="city" required)
                                                                div.form__field
                                                                    label(for="message") Дополнительная информация
                                                                    textarea(rows="10" name="message" id="message")
                                                                div.form-group.helpers
                                                                    p * Поля обязательные к заполнению
                                                            div.form-footer.align-right
                                                                div.form-button
                                                                    input(type="submit" value="Отправить")
                                                            div.form-modal
                                                                div.form-modal-container
                                                                    div.form-modal-sheet
                                                                        div.form-modal-sheet-container
                                                                            div.form-modal-sheet__button-close
                                                                                span.icon
                                                                            div.form-modal-sheet-content
                                                                                span.icon-form-confirm
                                                                                p Форма успешно отправлена                          
                                        // Прошедшие мероприятия
                                        h3#section-4 Прошедшие мероприятия
                                        div.section
                                            div.section-body
                                                div.events.list
                                                    div.events-container-list
                                                        // Items future
                                                        each event in events.passed
                                                            div.events__item.passed
                                                                a(href="events-detail.html" class="events__item-container")
                                                                    span.events__item-image
                                                                        span.events__item-tag-state
                                                                        img(src=`images/${event.image}`)
                                                                    div.events__item-content
                                                                        div.events__item-content-group
                                                                            each tag in event.tags
                                                                                span.events__item-tag=tag
                                                                            h3.events__item-title=event.title
                                                                            span.date-box__number=event.date.number
                                                                            div.date-box__group
                                                                                span.date-box__month=event.date.month
                                                                                span.date-box__day=event.date.day
                                                    div.section-footer.align-right
                                                        div.section-button
                                                            a(href="events.html") Все мероприятия