-
    var persons = [
        {
            name: "Михеева Лидия Юрьевна",
            description: "Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_miheeva_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр",
                "РШЧП"
            ]
        },
        {
            name: "Суханов Евгений Алексеевич",
            description: "Научный руководитель Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_suhanov_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Новоселова Людмила Александровна",
            description: "Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор",
            image: "persons/persons_navoselova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Степанов Дмитрий Иванович",
            description: "Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA",
            image: "persons/persons_slesarev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Дождев Дмитрий Вадимович",
            description: "Заведующий кафедрой теории и истории частного права, д.ю.н., профессор",
            image: "persons/persons_dozhdev_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Павлова Елена Александровна",
            description: "Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент",
            image: "persons/persons_pavlova_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Скловский Константин Ильич",
            description: "Профессор кафедры вещного права, д.ю.н., профессор",
            image: "persons/persons_sklovskiy_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
        {
            name: "Ширвиндт Андрей Михайлович",
            description: "Профессор кафедры обязательственного права, к.ю.н, LL.M",
            image: "persons/persons_sirvindt_sm-1.png",
            url: "persons-detail.html",
            tags: [
                "Исследовательский центр"
            ]
        },
    ]

-
    var documents = [
        {
            name: "Копия Устава",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Копия распоряжения",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Копия Лицензии на образовательную деятельность",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Копия Свидетельства государственной аккредитации",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Копия Свидетельства ФНС",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        },
        {
            name: "Положение о научных исследованиях",
            description: "",
            url: "",
            type: "pdf",
            size: "211КБ"
        },
        {
            name: "Копия Свидетельство о профессионально-общественной аккредитации МАГИСТРАТУРА",
            description: "",
            url: "",
            type: "pdf",
            size: "117КБ"
        },
        {
            name: "Копии СВИДЕТЕЛЬСТВ к товарным знакам",
            description: "",
            url: "",
            type: "pdf",
            size: "144КБ"
        },
    ]

            
// Centre
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="educational-projects_private-law-dialogues.html") Просветительские проекты
                li.nav-line__item
                    a(href="educational-projects_private-law-dialogues.html") Диалоги о частном праве
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item.active
                        a(href="educational-projects_private-law-dialogues.html") Диалоги о частном праве
                    li.section-nav__item
                        a(href="educational-projects_family-law-club.html") Клуб семейного права
                    li.section-nav__item
                        a(href="educational-projects_alekseevsky-readings.html") Алексеевские чтения
        // Section Nav
        section.section-container-columns
            // Section Menu
            div.section-side-panel
                div.section-menu#section-menu
                    div.section-menu-container
                        ul
                            li
                                a(href="#section-1") О проекте
                            li
                                a(href="#section-2") Предстоящие мероприятия
                            li
                                a(href="#section-3") Подать заявку на участие
                            li
                                a(href="#section-4") Прошедшие конференции
                            li
                                a(href="#section-5") Спикеры
                            li
                                a(href="#section-6") Партнеры
            // Section Menu

            div.section-list#section-list
                // О центре
                div.section
                    // Section Header
                    div.section-header
                        h1.section-title Диалоги о частном праве
                    div.section-body
                        div.article
                            div.article-section-list
                                // Article
                                div.article-section
                                    div.article-content
                                        // О проекте
                                        h3#section-1 О проекте
                                        p <b>Задача</b> Проекта состоит в продвижении идей частного права, поиске новых имён в цивилистической науке, в организации тесного общения разных научных школ в городах России.
                                        br
                                        p Центр вместе с ведущими юридическими вузами страны и в сотрудничестве с органами судебной системы проводит серию научно-практических конференций в Екатеринбурге, Томске, Владивостоке, Краснодаре, Казани и других городах России.
                                        br
                                        p В рамках проекта обсуждаются принципы гражданского права, способы защиты гражданских прав, проблемы гражданской правосубъектности, в особенности проблемы конструкции юридического лица, основные направления развития вещного права, а также множество других актуальных проблем российской цивилистики.
                                        br
                                        p Мы уверены, что широкое обсуждение таких масштабных вопросов позволит российской цивилистической науке и законодателю найти верные решения стоящих перед ними задач.
                                        br
                                        p Исследовательский центр приглашает к участию в проекте всех, кто занимается наукой гражданского права – от состоявшихся ученых до начинающих исследователей, а также всех, чья профессиональная деятельность построена на применении норм гражданского законодательства – судей, их помощников, работников аппаратов судов, адвокатов, юристов компаний.
                                        hr
                                        // Предстоящие мероприятия
                                        h3#section-2 Предстоящие мероприятия
                                        div.section
                                            div.section-body
                                                div.person-card
                                                    a(href="persons-detail.html" class="person-card-container")
                                                        div.person-card__section-image
                                                            span.person-card-image
                                                                img(src="images/persons/persons_miheeva_sm-1.png")
                                                        div.person-card__section-content
                                                            div.person-card__section-content-header
                                                                h3.person-card__item-name Михеева Лидия Юрьевна
                                                                p.person-card__item-description Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор
                                                                span.person-card__item-tag Исследовательский центр
                                                            div.person-card__section-content-body
                                                                div.article
                                                                    div.article-content
                                                                        p В соответствии с Уставом Исследовательский центр возглавляет председатель совета, который является единоличным исполнительным органом Исследовательского центра.
                                                                        br 
                                                                        p Председателем совета Центра является доктор юридических наук, профессор, заслуженный юрист Российской Федерации Михеева Лидия Юрьевна. Михеева Л.Ю. была избрана председателем совета на заседании совета Центра, состоявшемся 24 июля 2019 года, и утверждена в должности распоряжением Правительства Российской Федерации от 31 августа 2019 года № 1936-Р.
                                                div.section-footer.align-right
                                                    div.section-button
                                                        a(href="persons-detail.html") Читать полностью
                                        // Подать заявку на участие
                                        h3#section-3 Подать заявку на участие
                                        div.section
                                            div.section-body
                                                div.persons.sm
                                                    div.persons-container
                                                        each person in persons
                                                            div.persons__item
                                                                a(href=person.url class="persons__item-container")
                                                                    span.persons__item-image
                                                                        img(src=`images/${person.image}`)
                                                                    div.persons__item-content
                                                                        h3.persons__item-name=person.name
                                                                        p.persons__item-description=person.description
                                                                        each tag in person.tags
                                                                            span.persons__item-tag=tag                            
                                        // Прошедшие мероприятия
                                        h3#section-4 Прошедшие мероприятия
                                        div.section
                                            div.section-body
                                                div.person-card
                                                    a(href="persons-detail.html" class="person-card-container")
                                                        div.person-card__section-image
                                                            span.person-card-image
                                                                img(src="images/persons/persons_suhanov_sm-1.png")
                                                        div.person-card__section-content
                                                            div.person-card__section-content-header
                                                                h3.person-card__item-name Суханов Евгений Алексеевич
                                                                p.person-card__item-description Научный руководитель Исследовательского центра, д.ю.н., профессор
                                                                span.person-card__item-tag Исследовательский центр
                                                            div.person-card__section-content-body
                                                                div.article
                                                                    div.article-content
                                                                        p В соответствии с пунктом 23 Устава Исследовательского центра частного права  научный руководитель осуществляет координацию научной деятельности Исследовательского центра.
                                                                        br 
                                                                        p Научный руководитель избирается открытым голосованием на заседании совета на 5 лет из числа ведущих российских ученых, пользующихся авторитетом в мировом научном сообществе, внесших существенный вклад в развитие юридической науки.
                                                div.section-footer.align-right
                                                    div.section-button
                                                        a(href="persons-detail.html") Читать полностью
                                        // Попечительский совет
                                        h3#section-5 Попечительский совет
                                        div.section
                                            div.section-body
                                                div.persons.sm
                                                    div.persons-container
                                                        each person in persons
                                                            div.persons__item
                                                                a(href=person.url class="persons__item-container")
                                                                    span.persons__item-image
                                                                        img(src=`images/${person.image}`)
                                                                    div.persons__item-content
                                                                        h3.persons__item-name=person.name
                                                                        p.persons__item-description=person.description
                                                                        each tag in person.tags
                                                                            span.persons__item-tag=tag
                                        // Документы Центра
                                        h3#section-5 Документы Центра
                                        div.section
                                            div.section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents
                                                            div.documents__item
                                                                a.documents__item-container(href=document.url)
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            if document.description != ''
                                                                                span.documents__item-description=document.description
                                                                            span.documents__item-size=document.type + " " + document.size
                                                                        span.documents__item-helper-icon.icon-download